// .photo-list__item {
//   margin: 24px;
//   padding: 8px;
//   border-width: 0.5px;
//   border-color: lightgray;
//   border-style: solid;
//   border-radius: 8px;
//   max-width: fit-content;
// }

// .photo-list__image {
//   user-select: none;
//   width: 300px;
//   height: 200px;
//   object-fit: cover;
// }

// .photo-list__image {
//   border-radius: 8px 8px 0px 0px;
//   user-select: none;
//   width: 300px;
//   height: 200px;
//   object-fit: cover;
// }

// .photo-list__user-profile {
//   object-fit: cover;
//   border-radius: 100%;
//   vertical-align: middle;
//   margin-right: 8px;
//   width: 40px;
//   height: 40px;
// }

// .photo-list__user-details {
//   display: flex;
// }

// .photo-list__user-info {
//   margin-top: 5px;
//   font-weight: 700;
//   font-size: 12px;
//   margin-left: 8px;
// }

// .photo-list__user-location {
//   color: #838383;
// }

.photo-list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  background-color: #f0f0f0;
  padding: 10px;
  margin-bottom: 10px;
}

.photo-list-item img {
  width: 500px;
  height: 500px;
  object-fit: cover;
}

.photo-list-item .details {
  flex-grow: 1;
  margin-left: 10px;
  font-size: 12px;
  color: #333;
}

.photo-list-item .username {
  font-weight: bold;
  font-size: 14px;
}

.photo-list-item .location {
  margin-top: 5px;
  font-style: italic;
  color: #888;
  font-size: 10px;
}
